*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;

    background-color: #e7f6ff;
    color: #111;
}

button,
input {
    font-family: "Inter", sans-serif;
}

.wrapper {
    // background: #fff;
    background-color: #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
    // overflow: hidden;
}

header {
    border-bottom: 1px solid #eaeaea;
    gap: 16px;
}

.button {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    cursor: pointer;

    transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
        opacity: 0.8;
    }
}

.content-wrapper {
    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center !important;
    }
}

.card-wrapper {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    // @media (max-width: 992px) {
    // }
}

.search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    // width: 250px;
    // height: 45px;
    input {
        border: 0;
        padding: 13px;
        font-size: 16px;
        width: 200px;
        background-color: #ccc;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.drawer {
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #ccc;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;

    h2 {
        margin: 0;
        img {
            width: 32px;
            height: 32px;
            opacity: 0.5;
            cursor: pointer;
            transition: opacity 0.15s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }

    .items {
        flex: 1;
        overflow: auto;
        margin-bottom: 30px;
    }
}

.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .cartItemImg {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-position: 0 -3px;
        background-repeat: no-repeat;
        margin-right: 20px;
        // background-color: #ccc;
        // border-radius: 20px;
        // overflow: hidden;
        mix-blend-mode: multiply;
    }

    & > img:last-child {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }

    p {
        font-size: 16px;
    }

    b {
        font-size: 14px;
    }
}

.cartTotalBlock {
    ul {
        li {
            display: flex;
            align-items: flex-end;
        }

        li:not(:last-child) {
            margin-bottom: 20px;
        }

        div {
            flex: 1;
            height: 1px;
            border-bottom: 1px dashed #dfdfdf;
            position: relative;
            top: -4px;
            margin: 0 7px;
        }

        b {
            font-size: 16px;
        }
    }

    .greenButton {
        position: relative;
        &:hover {
            img {
                transform: translate(-20%, -50%);
            }
        }
        img {
            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(-50%, -50%);
            transition: transform 0.2s ease-in-out;
        }
    }
}

.greenButton {
    margin-top: 40px;

    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    transition: background 0.2s ease-in-out;
    &:hover {
        background: lighten(#9dd558, 5%);
    }
    &:active {
        background: darken(#9dd558, 5%);
    }
}
